NODE_ENV=production
# 从 @BotFather 获取的 Bot Token
BOT_TOKEN=XQg5F0z1Ns7hSEj4y70_o8
# 从 https://my.telegram.org 获取的 API 凭证 (用于 gram 登录执行账号)
TG_API_ID=20
TG_API_HASH=b18441a1ff607e10a98
# 数据库链接地址
DATABASE_PATH=./data/database.db
LOG_LEVEL=info
LOG_DIR=./logs
TZ=Asia/Shanghai
